.App {
  text-align: center;
}
.App>.Header{
  font-size: xx-large;
}
.App>.Content{
  display: block;
  margin-bottom: 20px;
}
.input-text{
  height: 25px;
  margin-top: 10px;
  width: 250px;
}
.input-button{
  margin-left: 10px;
  height: 30px;
  color: #5b5e57;
  background-color: white;
  border-radius: 4px;
}
.input-button:hover{
  color: #315fc7;
}
table{
  margin-top: 10px;
}
td{
  text-align:left;
}
#tblProduct tbody tr td{
  width: 50%;
}
table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

table td, table th {
  border: 1px solid black;
  padding: 8px;
}

table tr:nth-child(even){background-color: #bbbaba;}
table tr:nth-child(odd){background-color: #ebebeb;}


table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
}

table thead tr{
  background-color: rebeccapurple !important;
    color: white;
}